$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #343b51;
$gray-800: #2a3042;
$gray-900: #36394C;

$red: #F30;
$black: #333;
$bg-color-button-blue:rgb(26,115,232);
$bg-button-form: #52E8BE;