#login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .image-login{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    form{
        .form-input-wrapper{
            width: 100%;
            position: relative;
            border: 1.3px dashed $gray-500;
            border-radius: 5px;
            padding-right: 0.7em;
            input{
                background-color: transparent;
                border: none;
                outline: none;
                flex: 1;
                font-size: 20px;
            }
        }
        button{
            border: none;
            background-color: $bg-color-button-blue;
            border-radius: 5px;
            color: $white;
            font-size: 1.3em;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 0.7em;
                margin-left: 5px;
            }
        }
    }
    .register{
        a{
            span{
                color: $bg-color-button-blue;
            }
        }
    }
}